<!DOCTYPE html>
<html lang="es" xmlns:th="thymeleaf.com">
<head>
<meta charset="utf-8">
<title>| Gestión de usuarios |</title>
<link rel="stylesheet" type="text/css" href="/admin/gestion_usuarios.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
 <div class="contenido">
  <div class="lightitmarca"><p>LightIt &reg;</p> <a class="volver" href="/admin">Volver <i class="fas fa-undo-alt"></i></a> </div>
    <h1 id="mensaje">Gestión de usuarios</h1>
    <div class="tabla">
	<table>
			<thead>
				<tr>
				<th scope="col">Id Usuario</th>
					<th scope="col">Nombre</th>
					<th scope="col">Rol</th>
					<th scope="col" colspan="2">Acción</th>
				</tr>
			</thead>
			<tbody>
		<tr th:each="ur: ${usuarioroles}">
		<td th:text="${ur.usuario.idusuario}"></td>
		<td th:text="${ur.usuario.nombre}"></td>
		<td th:text="${ur.rol.nombre}"></td>
		<td><a th:href="@{/modificarUsuario(idusuario=${ur.usuario.idusuario})}">Modificar</a></td>
		<td><a th:href="@{/eliminarUsuario(idusuario=${ur.usuario.idusuario})}">Eliminar</a></td>
		</tr>
		</tbody>
	</table>
	</div>
	
	<div class="insertar"><div class="insertarUsuario"> <a href="/insertarUsuario">Añadir un usuario</a> <i class="far fa-save"></i> </div></div>	
</div>
</div>
</body>
<script src="https://kit.fontawesome.com/7bfebc882b.js" crossorigin="anonymous"></script>

</html>