<!DOCTYPE html>
<html lang="es" xmlns="thymeleaf.com">
<head>
<meta charset="utf-8">
<title>| Panel de administración |</title>
<link rel="stylesheet" type="text/css" href="/admin/panel_admin.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
 <div class="contenido">
  <div class="lightitmarca"><p>LightIt &reg;</p> <a class="volver" href="/">Volver <i class="fas fa-undo-alt"></i></a> </div>
    <h1 id="mensaje">Panel de administración</h1>
    <div class="btnes">
      <a href="/gestion_usuarios"><span>Gestión de usuarios y roles</span><br><i class="fas fa-user"></i></a>
      <a href="/gestion_productos"><span>Gestión de productos</span><br><i class="fas fa-shopping-cart"></i></a>
      <a href="/gestion_pedidos"><span>Ver todos los pedidos</span><br><i class="fas fa-list"></i></a> 
    </div>
</div>
</div>
</body>
<script src="/login/login.js"></script>
<script src="https://kit.fontawesome.com/7bfebc882b.js" crossorigin="anonymous"></script>

</html>