<!DOCTYPE html>
<html xmlns:th="thymeleaf.org" lang=es>
<head>
<meta charset="UTF-8">
<title> LightIt | About</title>
<link href="about/about.css" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
<div class="contenido">
<h1>Hola! Soy Ruslan, un estudiante de desarrollo web en el Centro integrado de formación profesional La Laboral</h1>
<div class="proyecto"><p>LightIt se trata de una tienda ficticia, cuyo objetivo implica el desarrollo de una aplicación web para el proyecto de fin de curso de 2ºDAW.</p></div>

<div class="links">Puedes encontrar el código de este proyecto pinchando <a href="https://www.github.com/rusrio/pruebalightit">aquí.</a></div>
<div class="volver"><a href="/index">Volver a inicio</a></div>

</div>
</body>
</html>