<!DOCTYPE html>
<html xmlns:th="thymeleaf.org" lang=es>
<head>
<meta charset="UTF-8">
<title> LightIt | 403</title>
<link href="/error403.css" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
<div class="error"><h1>ERROR 403</h1><br><h2>No tienes permisos para acceder a este recurso</h2> <br> <a href="/index">Volver a home</a></div>
 </body>
 <script src="index/index.js"></script>
 <script src="https://kit.fontawesome.com/7bfebc882b.js" crossorigin="anonymous"></script>
</html>