<!DOCTYPE html>
<html xmlns:th="thymeleaf.org" lang=es>
<head>
<meta charset="UTF-8">
<title> LightIt | Inicio</title>
<link href="index/index.css" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
<div class="contenedor">
    <header> <div class="lightitmarca"><p>LightIt &reg;</p> </div> </header>
	<div class="gif_mechero"><img src="/img/gif-homepage-unscreen.gif" alt=""></div>
	<div class="sidebar_izq">
	 <a href="/tienda">
	   <img alt="" src="/img/carritopixel.png">
	    <span class="explorar">Explorar</span>
	 </a> 
	 <a href="/" sec:authorize="isAuthenticated()">
	  <img alt="" src="/img/subir.png" >
	   <span style="white-space: nowrap;" class="subir">Subir diseño</span>
	  </a>
	   <a href="/about">
	    <img alt="" src="/img/contacto.png">
	    <span class="contacto">Contacto</span>
	   </a>
	  </div>
      <div class="login"><img src="/img/login.png" alt="">
    <a sec:authorize="!isAuthenticated()" href="/login">Iniciar sesión</a>
    <a sec:authorize="!isAuthenticated()" href="/registro">Registrarse</a>
    <a sec:authorize="isAuthenticated()" href="/usuario">Hola,<span sec:authentication="name"></span></a>
    </div>
</div>
 </body>
 <script src="index/index.js"></script>
 <script src="https://kit.fontawesome.com/7bfebc882b.js" crossorigin="anonymous"></script>
</html>