<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LightIt |</title>
    <link rel="stylesheet" type="text/css" href="/usuario/usuario.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap" rel="stylesheet">
</head>
<body>
 <div class="contenido">
        <header>
          <div class="headertitulo"><p>LightIt &reg;</p></div>
   		 <div class="panelusuario"> <a href="usuario"> <i sec:authorize="isAuthenticated()" class="fas fa-user"></i> </a> </div>
   		 <div class="rutasusuario"> 
       <span>Hola, <span th:text=${usuario.nombre}></span> </span> <a href="mis_pedidos">Mis pedidos</a> <a onclick="history.back(-1)" style="font-size: 1.2vw">Volver <i class="fas fa-undo-alt"></i></a> </div>
        </header>
       
	 <div class="tituloanimacion">
   		<div th:text="'Coleccion de '+${usuario.nombre}" class='coleccionesanimacion' style='color: #7c4dff'></div>
		<div th:text="'Coleccion de '+${usuario.nombre}" class='coleccionesanimacion' style='color: #0091ea'></div>
		<div th:text="'Coleccion de '+${usuario.nombre}" class='coleccionesanimacion' style='color: #ff9100'></div>
		<div th:text="'Coleccion de '+${usuario.nombre}" class='coleccionesanimacion' style='color: #ff1744'></div>
	 </div>

<div class="galeria">
        <div class="grid-contenedor">
            <div th:each="c : ${customusuario}" class="container">
             <div class="img"> <img alt="${c.titulo}" th:src="${c.custom.imagen}"> </div>
             <div class="containerextra">
              <span th:text="${c.custom.nombre}"></span>
              <span th:text="${c.custom.precio +'€'}"></span>
               <div class="iconoir">
               <a style="color: black" th:href="@{/ver_producto(idcustom=${c.custom.idcustom})}">
                <i class="fas fa-arrow-up"></i>
                </a>
              </div>
           </div>
          </div>
         </div>
    </div>

</div>
</body>
<script type="text/javascript" src="/tienda/ver_producto.js"></script>
 <script src="https://kit.fontawesome.com/7bfebc882b.js" crossorigin="anonymous"></script>
</html>