body{
	font-family: 'Press Start 2P';
	margin: 5%;
}

.contenido{
	height: 75vh;
	display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.volver{
 	margin: 3%;
    position: absolute;
    top: 0;
}